@import "../../../assets/styles/helpers/helpers.scss";
@import "../../../assets/styles/helpers/boxmodel.scss";

.loading-ui {
  display: flex;
  min-height: 300px;

  .content {
    @extend ._margin-auto;

    animation: 2s infinite opacity;
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
