.loading-ui {
  display: flex;
  min-height: 300px;

  .content {
    margin: auto;
    animation: 2s infinite opacity;
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
