<footer>
  <div class="app-footer">
    <div class="footer-content _container">
      <p class="title">Collab with me!</p>
      <p class="description">
        I am open for photography, multimedia and web commissions.
      </p>
      <p class="description">
        Let's discuss at
        <a href="mailto:gioweeargao@gmail.com?Subject=Hello%20Gweh!" target="_top">gioweeargao@gmail.com</a>
      </p>
    </div>
  </div>

  <div class="footer-links _container">
    <p class="name">gwenduling</p>
    <div class="divider"></div>
    <div class="footer-link">
      <a class="link" href="http://instagram.com/gwehh" target="_blank" title="Instagram">
        <i class="icon ion-logo-instagram"></i>
      </a>
      <a class="link" href="http://facebook.com/gwenduling" target="_blank" title="Facebook">
        <i class="icon ion-logo-facebook"></i>
      </a>
      <a class="link" href="http://github.com/gwenduling" target="_blank" title="Github">
        <i class="icon ion-logo-github"></i>
      </a>
      <a class="link" href="http://www.linkedin.com/in/rozzette-giorelle-argao-ba9275a1/" target="_blank"
        title="LinkedIn">
        <i class="icon ion-logo-linkedin"></i>
      </a>
      <a class="link" href="http://codepen.io/gwenduling" target="_blank" title="CodePen">
        <i class="icon ion-logo-codepen"></i>
      </a>
    </div>
  </div>
</footer>