@import "../../../assets/styles/utilities.scss";

.app-footer {
  @extend ._padding-y;
  background-color: var(--color-yellow);

  .footer-content {
    color: var(--color-white);

    .title {
      @extend ._text-title;
      color: var(--color-white);
    }

    .description a {
      @extend ._focus-white;
      font-weight: var(--text-weight-bolder);
      color: var(--color-white);
    }
  }
}

.footer-links {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-white);
  .divider {
    width: 1px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--color-default);
  }

  .footer-link .link {
    padding-right: 5px;
  }
}
