@import "../../../assets/styles/utilities.scss";

.app-footer {
  @extend ._padding-y;
  background-color: var(--color-yellow);

  .footer-content {
    p {
      color: var(--color-white);
    }

    .title {
      @extend ._text-title;
      color: var(--color-white);
    }

    .description a {
      @extend ._focus-white;
      font-weight: var(--text-weight-bolder);
      color: var(--color-white);
    }
  }
}

.footer-links {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-white);
  .divider {
    width: 1px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--color-default);
  }

  .footer-link {
    display: flex;
    align-items: center;
    .link {
      display: flex;
      flex-basis: 20px;
      flex-shrink: 0;
      padding-right: 5px;

      &:focus {
        box-shadow: none;
      }

      &:focus-within {
        img {
          outline: 0;
          box-shadow: 0 0 5px 4px var(--color-yellow);
        }
      }
    }
  }
}
