<div class="event-component _container">
  <p class="title">
    {{ event!.name }}
  </p>

  <p class="content" *ngIf="event!.description">
    {{ event!.description }}
  </p>

  <button class="close" (click)="closeEvent()">❌</button>

  <div class="event-buttons">
    <a class="button -yellow -first" *ngIf="event && event.link" href="{{ event.link!.href }}" target="_blank">
      {{ event!.link!.label }}
    </a>
    <button class="button -white" (click)="closeEvent()">cool cool cool</button>
  </div>
</div>