@import "../../../assets/styles/utilities.scss";

.blog-header {
  display: flex;
  align-items: center;

  .header-content {
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    .author {
      text-transform: uppercase;
      font-weight: var(--text-weight-bold);
      color: var(--color-yellow-darker);
    }

    .title {
      margin-bottom: 0;
      font-size: 30px;
      font-weight: var(--text-weight-normal);
      word-break: break-word;
      color: var(--color-default);

      @media (max-width: 600px) {
        margin-top: 20px;
        font-size: 25px;
      }

      @media (max-width: 450px) {
        font-size: 20px;
      }
    }

    .tags {
      margin-bottom: 20px;
      color: var(--color-yellow-darker);

      .tag {
        letter-spacing: 1px;
      }
    }

    .date {
      font-size: var(--text-size);
    }
  }

  .image {
    padding: 15px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    align-items: flex-start;

    .header-content {
      padding-left: 30px;
      padding-right: 30px;
    }

    .image {
      height: 200px;
      padding: 0;
      object-position: center;
    }
  }

  @media (max-width: 500px) {
    .header-content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.body {
  margin-top: 20px;
  margin-bottom: 40px;

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  mark {
    background: rgba(var(--color-yellow-rgb), 0.7);
  }

  p {
    line-height: 1.5;
    text-indent: var(--text-indent);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    &.photo-caption {
      text-indent: 0;
      font-size: 14px;
    }

    &.code-title {
      text-indent: 0;
      font-size: 15px;
      font-weight: 400;
      padding-left: 10px;
      padding-right: 10px;
      background: rgba(var(--color-yellow-rgb), 0.7);
      color: var(--color-dark);
    }

    &.iframe-container {
      text-indent: 0;
    }
  }

  ol,
  ul {
    padding-left: 50px;
  }

  li,
  p {
    margin-top: 10px;
    font-size: var(--text-size);
  }

  h3 {
    font-weight: var(--text-weight-bolder);
    font-size: var(--text-size-title);
    text-transform: capitalize;
  }

  h4 {
    font-weight: var(--text-weight-bold);
    font-size: var(--text-size-subtitle);
    text-transform: capitalize;
  }

  h3,
  h4,
  a,
  .yellow {
    color: var(--color-yellow-darker);
  }

  .hashtag {
    letter-spacing: 1px;
    color: var(--color-yellow-darker);
  }

  span.yellow {
    font-weight: var(--text-weight-normal);
  }

  a {
    font-weight: var(--text-weight-bolder);
    border-bottom: 2px solid var(--color-yellow);

    @extend ._hover;
    &:hover {
      background-color: var(--color-yellow);
      color: var(--color-white);
      transition: ease-in 0.5s;
    }
  }

  strong {
    font-weight: var(--text-weight-bolder);
    color: var(--color-dark) #444;
  }

  p iframe:not(.youtube-iframe),
  iframe:not(.youtube-iframe) {
    height: 500px !important;
  }

  .button {
    @extend ._button !optional;
  }

  hr {
    border-top: 1px solid var(--color-yellow-darker);
  }

  table {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d0d0d0;
    overflow: auto;

    tbody {
      border: none;
    }

    td {
      padding: 5px;
      font-size: var(--text-size);
      border-color: #d0d0d0;
    }

    tr {
      &:first-child {
        background-color: #dedede;
        color: var(--color-dark);
      }

      &:nth-child(odd):not(:first-child) {
        background-color: #ecebeb;
      }

      &:nth-child(even) {
        background-color: #f1f1f1;
      }
    }
  }

  code {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    background-color: #eceaea;

    pre {
      padding-left: 10px;
      color: var(--color-dark);
    }
  }

  @media (max-width: 600px) {
    .youtube-iframe {
      width: 80vw;
      height: 300px;
    }
  }

  @media (max-width: 500px) {
    margin-top: 20px;
    img {
      max-width: 80%;
    }

    ol,
    ul {
      padding-left: 30px;
    }

    p iframe,
    iframe {
      width: 85% !important;
      height: 250px !important;

      &.instagram {
        height: 480px !important;
      }
    }
  }

  @media (max-width: 400px) {
    .youtube-iframe {
      width: 95% !important;
      height: 200px !important;
    }
  }
}

.related-posts {
  .title {
    @extend ._text-title;
    color: var(--color-yellow-darker);
  }

  .posts {
    padding: 0;
    margin: 0;
    list-style: none;
    > li > a {
      @extend ._hover;
    }
  }
}

.post-controls {
  @extend ._padding-y;
  background-color: var(--color-yellow);

  .control-items {
    display: flex;
    align-items: center;

    .control {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
      word-break: break-word;

      .content {
        @extend ._text-title;
        color: var(--color-white);
      }

      a {
        @extend ._focus-white;
        font-weight: var(--text-weight-bold);
        color: var(--color-white);
      }

      &.-prev {
        margin-right: auto;
      }

      &.-next {
        margin-left: auto;
        text-align: right;
      }
    }

    @media (max-width: 600px) {
      .control {
        &.-next {
          padding-left: 5px;
        }

        &.-prev {
          padding-right: 5px;
        }
      }
    }

    @media (max-width: 450px) {
      flex-direction: column;
      .control {
        &.prev {
          padding-right: 0;
        }

        &.-next {
          margin-left: 0;
          margin-right: auto;
          margin-top: 15px;
          padding-left: 0;
          text-align: left;
        }
      }
    }
  }
}

.to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;

  &:hover {
    opacity: 1;
    font-size: var(--text-size);
    transition: 0.4s ease-in-out;
  }
}
