<div class="home-content _container">
  <div class="home-info _container">
    <p class="title">Gweh</p>
    <div class="about">
      <p>{{ age }}</p>
      <p>Frontend Developer</p>
      <p>BS IT Major in Web Development</p>
      <p>Magna Cum Laude</p>
      <p>Pampanga, Philippines</p>
      <p>🐣</p>
    </div>
  </div>

  <div class="home-photos">
    <div class="item">
      <img alt="gwe in Batanes, Philippines" class="photo" src="/assets/images/gwenduling_batanes.jpg">
    </div>
    <div class="item">
      <img alt="gwe in Coron, Philippines" class="photo" src="/assets/images/gwenduling_coron.JPG">
    </div>
    <div class="item">
      <img alt="Gwe and AJ" class="photo" src="/assets/images/gwe_and_aj.JPG">
    </div>
  </div>
</div>