@import "../../../assets/styles/utilities.scss";

.blog-categories {
  .title {
    @extend ._padding-top;
    @extend ._text-title;

    color: var(--color-yellow-darker);
  }

  .category-items {
    @extend ._padding-bottom;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;

    .category {
      flex-basis: calc((100% - 40px) / 3);
      padding: 20px 5px;
      margin-bottom: 10px;
      font-size: var(--text-size-subtitle);
      font-weight: var(--text-weight-bold);
      text-align: center;
      color: var(--color-yellow-darker);
      border-radius: 5px;
      border: 1px solid var(--color-yellow-darker);

      &:nth-child(3n + 2) {
        margin-left: 20px;
        margin-right: 20px;
      }

      &:hover {
        font-weight: var(--text-weight-bolder);
        color: var(--color-white);
      }
    }

    @media (max-width: 550px) {
      .category {
        flex-basis: 100%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;

        &:nth-child(3n + 2) {
          margin-left: unset;
          margin-right: unset;
        }
      }
    }
  }
}
