@import "../../../assets/styles/utilities.scss";

.not-found {
  @extend ._padding-y;

  .title {
    @extend ._text-title;
    color: var(--color-yellow-darker);
  }

  .description a {
    padding-left: 1px;
    &:hover {
      font-weight: var(--text-weight-bold);
    }
  }

  .button {
    @extend ._button;

    margin-top: 10px;
  }
}
