// margin
._margin-auto {
  margin: auto;
}

._margin-left-auto {
  margin-left: auto;
}

._margin-right-auto {
  margin-right: auto;
}

// padding
._padding-top {
  padding-top: 70px;
  @media (max-width: 500px) {
    padding-top: 50px;
  }
}

._padding-bottom {
  padding-bottom: 70px;
  @media (max-width: 500px) {
    padding-bottom: 50px;
  }
}

._padding-left {
  padding-left: 70px;
  @media (max-width: 500px) {
    padding-left: 50px;
  }
}

._padding-right {
  padding-right: 70px;
  @media (max-width: 500px) {
    padding-right: 50px;
  }
}

._padding-y {
  @extend ._padding-top;
  @extend ._padding-bottom;
}
