// button
._button {
  display: inline-block;
  padding: 5px 12px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  transition-duration: 0.5s;

  &.btn-yellow,
  &.-yellow {
    border: 1px solid var(--color-white);
    color: #fff;
    background-color: var(--color-yellow);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-yellow-darker);
      color: var(--color-white);
    }
  }

  &.-white {
    border: 1px solid var(--color-white);
    color: var(--color-yellow);
    background-color: var(--color-white);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-yellow);
    }
  }

  &.-yellow-outline {
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
    background-color: var(--color-white);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-yellow);
      color: var(--color-white);
    }
  }
}
