:root {
  --color-white: #f6f6f6;
  --color-default: #4a4747;
  --color-dark: #444;
  --color-yellow: #e3c468;
  --color-yellow-darker: #deba4e;
  --color-yellow-rgb: 222, 186, 78;
  --text-weight-normal: 300;
  --text-weight-bold: 400;
  --text-weight-bolder: 800;
  --text-indent: 25px;
  --text-size: 16px;
  --text-size-subtitle: 18px;
  --text-size-title: 20px;
}
